/* src/styles/global.css */

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

body {
    font-family: 'Quicksand', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.h-screen-70 {
    height: 70vh;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */